<div
  [style.width]="size === 'small' ? '1.5rem' : '4.4rem'"
  [style.height]="size === 'small' ? '1.5rem' : '4.4rem'"
  style="display: flex; position: relative; overflow: hidden"
>
  <ion-icon
    *ngIf="showLiveIndicator"
    name="ellipse"
    style="
      position: absolute;
      color: #10b981;
      right: 0;
      bottom: 0;
      font-size: 20px;
      z-index: 1;
    "
  ></ion-icon>

  <ion-avatar style="width: 100%; height: 100%">
    <img
      [src]="src"
      alt="Avatar"
      style="border-radius: 50%; object-fit: cover; width: 100%; height: 100%"
    />
  </ion-avatar>
</div>
